# datasets
*.zip
*.yolov8
Cricket Pitch Keypoints.v4-v4.yolov8/
cricket_pitch_keypoints_v5.yolov8/
partial_visibility_dataset/
input_videos/

# models
*.pt
models/*
!models/README.md

# videos
*.mp4

# outputs
output/
output*
runs/
images/
bt_vis*
bt_vis_*

# python
__pycache__/
*.pyc

# environments
venv/
.venv/

# Extra specific output folders1
AR output/
evaluations_output/
final_sam_outputs/
sam_output_json/
sam_vis/
sam3/
videos/
output_jsons/
.agents/
extra_code/